{{ ansible_managed | comment }}

http_port {{ squid_port }}

cache_effective_user {{ squid_user }}
cache_effective_group {{ squid_group }}

{% if squid_append_domain is defined %}
append_domain {{ squid_append_domain }}
{% endif %}

{% if squid_ssl_exceptions is defined %}
{% for exception in squid_ssl_exceptions %}
acl {{ exception.name }} dst {{ exception.dest }}
{% endfor %}
{% for exception in squid_ssl_exceptions %}
sslproxy_cert_error allow {{ exception.name }}
{% endfor %}
{% endif %}
sslproxy_cert_error deny all

{% for network in squid_networks %}
acl {{ network.name }} {{ network.type }} {{ network.range }} {{ network.comment | default(None) | comment or omit }}
{% endfor %}

acl SSL_ports port 443
{% if squid_safe_ports is defined %}
{% for safe_port in squid_safe_ports %}
acl Safe_ports port {{ safe_port }}
{% endfor %}
{% endif %}
acl CONNECT method CONNECT

http_access deny !Safe_ports

# Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

{% if squid_allow_manager %}
# Allow cachemgr access from {{ squid_allow_manager if squid_allow_manager is not True else 'anywhere' }}
http_access allow {{ squid_allow_manager if squid_allow_manager is not True }} manager
{% if squid_allow_manager is True %}
{% else %}
# Deny cachemgr access from anywhere else
http_access deny manager
{% endif %}
{% endif %}

# We strongly recommend the following be uncommented to protect innocent
# web applications running on the proxy server who think the only
# one who can access services on "localhost" is a local user
#http_access deny to_localhost

http_access allow localhost
http_access deny all

# Uncomment and adjust the following to add a disk cache directory.
cache_dir {{ squid_cache_dir }}

coredump_dir /var/spool/squid

refresh_pattern ^ftp:		1440	20%	10080
refresh_pattern ^gopher:	1440	0%	1440
refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
refresh_pattern .		0	20%	4320

{% if squid_cache_replacement_policy is defined %}
cache_replacement_policy {{ squid_cache_replacement_policy }}
{% endif %}

{% if squid_maximum_object_size_mb is defined %}
maximum_object_size {{ squid_maximum_object_size_mb }} MB
{% endif %}

{% if squid_acls is defined %}
{% for acl in squid_acls %}
acl {{ acl.name }} {{ acl.classifier }} {{ acl.value }}
{% endfor %}
{% endif %}

{% if squid_cache_rules is defined %}
{% for rule in squid_cache_rules %}
cache {{ rule.decision }} {{ rule.acl }}
{% endfor %}
{% endif %}

{% if squid_access_log is defined %}
{% for item in squid_access_log %}
access_log {{ item }}
{% endfor %}
{% endif %}
